PORT=5000
MONGO_URI=your_mongodb_uri_change_this_in_production
JWT_SECRET=your_jwt_secret_key_change_this_in_production
JWT_ACCESS_EXP=15m
JWT_REFRESH_EXP=7d

# Email
EMAIL_PROVIDER=console
EMAIL_QUEUE_DRIVER=mongo
SENDGRID_API_KEY=
GITHUB_TOKEN=
GITHUB_STATS_TTL_HOURS=24
NODE_ENV=development
